<!DOCTYPE html>

<html lang="en">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel=stylesheet href="/static/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel=stylesheet href="/static/css/custom.css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fruktur" rel="stylesheet">

    {% block navbar %}
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
                <!--Brand and categories-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  <a class="navbar-brand brand-custom" href="/">Jumla</a>
                </div>

               <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register_feed">Register A Feed</a></li>
                      <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Account <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Log In</a></li>
                      </ul>
                    </li>
                  </ul>
              </div>

              </div>
          </div>
        </nav>
    {% endblock %}

</head>

<body>
{% block content %} {% endblock %}

    <!-- jQuery -->
    <script src="static/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>
</html>