{% include "partials/headers/main_header.html" %}

<body style ="padding-top:80px;" data-spy="scroll" data-target="#header">

{% block navbar %}
<!--Start Header Section-->
<section id="header">
    <div class="header-area">
        <div class="header_menu text-center" data-spy="affix" id="nav">
            <div class="container">
                <nav class="navbar navbar-default zero_mp ">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand custom_navbar-brand" href="/feeds"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                    <!--End of navbar-header-->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right main_menu">
                            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                             {% block loginstatus %}{% endblock %}
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
                <!--End of nav-->
            </div>
            <!--End of container-->
        </div>
        <!--End of header menu-->
    </div>
    <!--end of header area-->
    </section>
<!--End of Header Section-->
{% endblock %}

{% block content %}

{% block sidebar %} {% endblock %}

<!-- Page Content -->
<section id="blog">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="latest_blog text-center">
                            <h2>Latest Posts</h2>
                            <p>Newest posts from registered feeds.</p>
                        </div>
                    </div>
                </div>
            </div>
                    <!--End of row-->
            <div class="container">
                <div class="row">
              {% block postboxes %} {% endblock %}
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}

{% include "partials/actions/scroll_to_top.html" %}

{% include "partials/scripts/main_scripts.html" %}

</body>
</html>