body {
  font-family: 'Bellefair', serif;
  font-size: 20px;
  color: #333333;
  padding-top: 75px;
}

.brand-custom{
  font-family: 'Ubuntu', sans-serif;
  font-size:40px;
  color: #00FFFF;
}

.jumla-post-box {
    padding: 20px;
    z-index: 100;
    border: 1px solid #6A6A6A;
    border-radius: 3px;
    margin: 10px;
}

.jumla-bg-primary {
    background: #ffffff; }

.post-box-title{
    font-family: 'Ubuntu', sans-serif;
    font-size:18px;
}

.post-box-published{
    font-family: 'Ubuntu', sans-serif;
    font-size:9px;
}

.post-box-summary{
    font-family: 'Ubuntu', sans-serif;
    font-size:12px;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: none;
}

.post-box{
  font-size:15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}
a {
  color: #333333;
}
a:hover,
a:focus {
  color: #0085A1;
  text-decoration:none;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}